--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy
openvino-nightly
onnx>=1.11.0
transformers>=4.37.0
git+https://github.com/huggingface/optimum-intel.git
scikit-learn
jupyterlab
ipywidgets
ipykernel>=5.*
ipython>=7.16.3